.Main-Title {
color: red;
text-align: center;
font-family: Orbitron;
}

.Centered {
    text-align: center;

}

.profile-picture > img {
    margin: auto;
    display: block;
    width: 20%;
    border-radius: 50%;
}