.Main-Title {
color: red;
text-align: center;
font-family: Orbitron;
}

.Centered {
    text-align: center;
}

.profile-picture > img {
    margin: auto;
    display: block;
    width: 10%;
    border-radius: 50%;
}

.Top-Part {
    border-bottom: 1px solid gray;
    background-image: url("http://blog.hostbaby.com/backgrounds/bg_bluegradient.jpg");

}

.Bottom-Part {
    margin-top: 200px;
    border-top: 2px dashed black;
    
    
    
}

#Disquis-Header-Text {
    font-family: 'Cedarville Cursive' , cursive;
    
    
}

.Disqus {
    margin-left: 10px;
    margin-right: 10px;
    
    
}
.SocialMedia-Button {
    width: 100px !important;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    margin-top: 20px;
    
}

.Copyright-Text {
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px black;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    background-color: #1e90ff;
}


.Skills-Section {
    float: left;
    width: 300px;
    height: 200px;
    background-color: red;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.Hobbies-Section {
    float: right;
    width: 300px;
    height: 200px;
    background-color: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.Skills-Section > h1 {
    font-family: Orbitron;
    text-align: center;
}

.Hobbies-Section > h1 {
    font-family: Orbitron;
    text-align: center;
 
}