.Main-Title {
color: red;
text-align: center;
font-family: Orbitron;
}

.Centered {
    text-align: center;

}

.profile-picture > img {
    margin: auto;
    display: block;
    width: 10%;
    border-radius: 50%;
}

.Top-Section {
    border-bottom: 1px solid gray;
    background-color: #b2b2b2;

    
}
